body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.container {
  background-color: aquamarine;
  width: 300px;
  height: 460px;
}

h3 {
  text-align: center;
}

.display {
  background-color: aliceblue;
  width: 90%;
  height: 10%;
  margin: auto;
}

.button {
  background-color: gray;
  width: 90%;
  height: 60%;
  margin: 60px auto;
}

.button-row {
  display: flex;
  flex-basis: 100px;
}
